### template for 2C-ChIP data input to LAMPS							
"# FASTQ file containing containing three 2C-ChIP libraries, each with their own barcode. For each library, the same primers are excluded and normalization factors are applied"							
#  Note - the third library belongs to a different batch group and will be normalized separately from the first two libraries							
library_1	barcode_1	FASTQ_1	"primer_1,primer_2,primer_3"	batch_1	norm_factor_1	norm_factor_2	norm_factor_3
library_2	barcode_2	FASTQ_1	"primer_1,primer_2,primer_3"	batch_1	norm_factor_1	norm_factor_2	norm_factor_3
library_3	barcode_3	FASTQ_1	"primer_1,primer_2,primer_3"	batch_2	norm_factor_1	norm_factor_2	norm_factor_3
"# FASTQ file containing two libraries, where neither has a barcode nor normalization factors to be considered"							
"# Note - only one superset of primers may be used per config file. I.e., primer_1 is the same primer in both libraries 1 and 5"							
# Note - we recommend removing primers universally across experiments							
library_4		FASTQ_2	"primer_1,primer_2,primer_3"	batch_1			
library_5		FASTQ_2	"primer_1,primer_2,primer_3"	batch_2			
# See example 2C-ChIP config file for example input values							
"# Note - after installing LAMPS, we recommend running the example test data and viewing LAMPS output to better undertsand the config file"							