### Template for 5C data input to LAMPS

# FASTQ file containing containing two 5C libraries, each with their own barcode			
# Note - LAMPS does not perform 5C normalization and is expected to be run upstream of conventional pipelines			
library_1	barcode_1	FASTQ_1	
library_2	barcode_2	FASTQ_2

# BAM file containing a single 5C library with no barcode. LAMPS will convert the BAM to a FASTQ file using SAMtools			
# Note - only one superset of primers may be used per config file. I.e., primer_1 is the same primer in all libraries			
# Note - we recommend removing primers universally across experiments, but primers unique to a library (primer_100) can be individually specified			
library_3		BAM_1	primer_100

# See example 5C config file for example input values			
# Note - after installing LAMPS, we recommend running the example test data and viewing LAMPS output to better undertsand the config file			
